@model IEnumerable<DraterNew.Models.Class.Retard>

@{
    ViewBag.Title = "List";
}
    <div class="container container_form">
        <h4>Mes retards</h4>

        @Html.ActionLink("Ajouter un retard", "Create")
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.titre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.file)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.titre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.file)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>