@model DraterNew.ViewModel.EleveVM

@{
    ViewBag.Title = "View";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="container container_form">
    <h4>Inscription</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Eleve.pseudo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Eleve.pseudo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Eleve.pseudo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Eleve.mail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Eleve.mail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Eleve.mail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="input-field col s12">
        @Html.DropDownList("Classe", null, htmlAttributes: new { @class = "form-control" })
        @Html.LabelFor(tags => tags.Classe.libelle, "Classe", htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.ValidationMessageFor(model => model.Classe.libelle, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Eleve.MDP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Eleve.MDP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Eleve.MDP, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <input asp-for="FileUpload.FormFile" type="file" name="fileEnvoie">
        <span asp-validation-for="FileUpload.FormFile"></span>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}


<script>

      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
  });
</script>